{
  "openapi": "3.1.0",
  "info": {
    "title": "Zinalyze Read API",
    "version": "1.0.0",
    "description": "Read-only API for fixtures, standings, team statistics and league coverage. Uses Basic Auth (READ_API_BASIC_USER / READ_API_BASIC_PASSWORD)."
  },
  "servers": [{ "url": "https://readapi.zinalyze.pro" }],
  "components": {
    "securitySchemes": {
      "basicAuth": { "type": "http", "scheme": "basic" }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" },
          "code": { "type": "integer" },
          "detail": { "type": "string" }
        },
        "additionalProperties": true
      },
      "UnknownQueryParamsError": {
        "type": "object",
        "description": "Returned when a client sends query parameters that are not supported by the endpoint.",
        "properties": {
          "error": { "type": "string", "enum": ["unknown_query_params"] },
          "unknown": { "type": "array", "items": { "type": "string" } },
          "allowed": { "type": "array", "items": { "type": "string" } }
        },
        "required": ["error", "unknown", "allowed"],
        "additionalProperties": true
      },
      "HTTPExceptionDetailEnvelope": {
        "type": "object",
        "description": "FastAPI HTTPException envelope. Many errors are returned as {\"detail\": ...}.",
        "properties": {
          "detail": {
            "anyOf": [
              { "type": "string" },
              { "$ref": "#/components/schemas/UnknownQueryParamsError" },
              { "type": "object" }
            ]
          }
        },
        "required": ["detail"],
        "additionalProperties": true
      },
      "Paging": {
        "type": "object",
        "properties": {
          "limit": { "type": "integer" },
          "offset": { "type": "integer" },
          "total": { "type": "integer" },
          "next_offset": { "type": "integer" }
        },
        "additionalProperties": true
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "db": { "type": "boolean" }
        },
        "required": ["ok", "db"],
        "additionalProperties": true
      },
      "QuotaResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "daily_remaining": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "minute_remaining": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "observed_at_utc": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }
        },
        "required": ["ok"],
        "additionalProperties": true
      },
      "FixtureStatusShort": {
        "description": "Fixture status_short. Prefer known enums but allow unknown strings for forward compatibility.",
        "anyOf": [
          {
            "type": "string",
            "enum": [
              "TBD",
              "NS",
              "1H",
              "HT",
              "2H",
              "ET",
              "BT",
              "P",
              "FT",
              "AET",
              "PEN",
              "SUSP",
              "INT",
              "PST",
              "CANC",
              "ABD",
              "AWD",
              "WO"
            ]
          },
          { "type": "string" }
        ]
      },
      "EventType": {
        "description": "Event category. Prefer known enums but allow unknown strings for forward compatibility.",
        "anyOf": [
          { "type": "string", "enum": ["Goal", "Card", "Subst", "Var"] },
          { "type": "string" }
        ]
      },
      "EventDetail": {
        "description": "Event detail. Prefer known enums but allow unknown strings for forward compatibility.",
        "anyOf": [
          {
            "type": "string",
            "enum": [
              "Normal Goal",
              "Own Goal",
              "Penalty",
              "Missed Penalty",
              "Yellow Card",
              "Red Card",
              "Second Yellow Card",
              "Substitution",
              "VAR Goal",
              "VAR Penalty",
              "VAR Offside"
            ]
          },
          { "type": "string" }
        ]
      },
      "TeamRef": {
        "type": "object",
        "properties": {
          "team_id": { "type": "integer" },
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "short_name": { "type": "string" },
          "logo": { "type": "string" }
        },
        "additionalProperties": true
      },
      "LeagueRef": {
        "type": "object",
        "properties": {
          "league_id": { "type": "integer" },
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "country": { "type": "string" },
          "season": { "type": "integer" }
        },
        "additionalProperties": true
      },
      "VenueRef": {
        "type": "object",
        "properties": {
          "venue_id": { "type": "integer" },
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "city": { "type": "string" }
        },
        "additionalProperties": true
      },
      "ScoreRef": {
        "type": "object",
        "properties": {
          "home": { "type": "integer" },
          "away": { "type": "integer" }
        },
        "additionalProperties": true
      },
      "V1Fixture": {
        "type": "object",
        "description": "Fixture shape returned by /v1/* endpoints in src/read_api/app.py. Extra fields are allowed.",
        "properties": {
          "id": { "type": "integer" },
          "league_id": { "type": "integer" },
          "season": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "date_utc": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] },
          "status": { "type": "string" },
          "home_team_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "home_team": { "type": "string" },
          "away_team_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "away_team": { "type": "string" },
          "goals_home": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "goals_away": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "updated_at_utc": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }
        },
        "additionalProperties": true
      },
      "V1FixturesArray": {
        "type": "array",
        "items": { "$ref": "#/components/schemas/V1Fixture" }
      },
      "V1StandingItem": {
        "type": "object",
        "description": "Row returned by GET /v1/standings/{league_id}/{season}. Extra fields are allowed.",
        "properties": {
          "league_id": { "type": "integer" },
          "season": { "type": "integer" },
          "team_id": { "type": "integer" },
          "team": { "type": "string" },
          "rank": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "points": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "goals_diff": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "goals_for": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "goals_against": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "form": { "type": "string" },
          "status": { "type": "string" },
          "description": { "type": "string" },
          "group": { "type": "string" },
          "updated_at_utc": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }
        },
        "additionalProperties": true
      },
      "V1StandingsArray": { "type": "array", "items": { "$ref": "#/components/schemas/V1StandingItem" } },
      "V1Team": {
        "type": "object",
        "description": "Team shape returned by GET /v1/teams. Extra fields are allowed.",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "code": { "anyOf": [{ "type": "string" }, { "type": "null" }] },
          "country": { "anyOf": [{ "type": "string" }, { "type": "null" }] },
          "founded": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "national": { "anyOf": [{ "type": "boolean" }, { "type": "null" }] },
          "logo": { "anyOf": [{ "type": "string" }, { "type": "null" }] },
          "venue_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "updated_at_utc": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }
        },
        "additionalProperties": true
      },
      "V1TeamsArray": { "type": "array", "items": { "$ref": "#/components/schemas/V1Team" } },
      "V1InjuryItem": {
        "type": "object",
        "description": "Row returned by GET /v1/injuries. Extra fields are allowed.",
        "properties": {
          "league_id": { "type": "integer" },
          "season": { "type": "integer" },
          "team_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "player_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "player_name": { "type": "string" },
          "team_name": { "type": "string" },
          "type": { "type": "string" },
          "reason": { "type": "string" },
          "severity": { "type": "string" },
          "date": { "anyOf": [{ "type": "string" }, { "type": "null" }] },
          "updated_at_utc": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }
        },
        "additionalProperties": true
      },
      "V1InjuriesArray": { "type": "array", "items": { "$ref": "#/components/schemas/V1InjuryItem" } },
      "ReadCountryItem": {
        "type": "object",
        "properties": {
          "country_name": { "type": "string" },
          "country_code": { "anyOf": [{ "type": "string" }, { "type": "null" }] },
          "country_flag": { "anyOf": [{ "type": "string" }, { "type": "null" }] },
          "leagues_count": { "anyOf": [{ "type": "integer" }, { "type": "null" }] }
        },
        "additionalProperties": true
      },
      "ReadCountriesEnvelope": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/ReadCountryItem" } },
          "paging": { "$ref": "#/components/schemas/Paging" }
        },
        "required": ["ok", "items"],
        "additionalProperties": true
      },
      "ReadInjuryItem": {
        "type": "object",
        "properties": {
          "league_id": { "type": "integer" },
          "season": { "type": "integer" },
          "team_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "player_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "player_name": { "type": "string" },
          "team_name": { "type": "string" },
          "type": { "type": "string" },
          "reason": { "type": "string" },
          "severity": { "type": "string" },
          "date": { "anyOf": [{ "type": "string" }, { "type": "null" }] },
          "updated_at_utc": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }
        },
        "additionalProperties": true
      },
      "ReadInjuriesEnvelope": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/ReadInjuryItem" } },
          "paging": { "$ref": "#/components/schemas/Paging" }
        },
        "required": ["ok", "items"],
        "additionalProperties": true
      },
      "ReadH2HResponse": {
        "type": "object",
        "description": "Head-to-head fixtures + summary derived from core.fixtures.",
        "properties": {
          "ok": { "type": "boolean" },
          "teams": { "type": "object" },
          "filters": { "type": "object" },
          "summary_team1": { "type": "object" },
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/V1Fixture" } }
        },
        "required": ["ok", "items"],
        "additionalProperties": true
      },
      "V1FixtureDetailsResponse": {
        "type": "object",
        "description": "Merged fixture details (events, lineups, statistics, players). Shape is intentionally flexible.",
        "properties": {
          "ok": { "type": "boolean" },
          "fixture_id": { "type": "integer" }
        },
        "required": ["ok", "fixture_id"],
        "additionalProperties": true
      },
      "ReadLeague": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "type": { "type": "string" },
          "logo": { "type": "string" },
          "country_name": { "type": "string" },
          "country_code": { "type": "string" },
          "country_flag": { "type": "string" },
          "seasons": { "type": "array", "items": { "type": "object" } },
          "updated_at_utc": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }
        },
        "additionalProperties": true
      },
      "ReadLeaguesEnvelope": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/ReadLeague" } },
          "paging": { "$ref": "#/components/schemas/Paging" }
        },
        "required": ["ok", "items"],
        "additionalProperties": true
      },
      "ReadFixture": {
        "type": "object",
        "description": "Curated fixture shape returned by /read/fixtures and /read/fixtures/{fixture_id}. Extra fields are allowed.",
        "properties": {
          "id": { "type": "integer" },
          "league_id": { "type": "integer" },
          "league_name": { "type": "string" },
          "season": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "round": { "type": "string" },
          "date_utc": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] },
          "status_short": { "$ref": "#/components/schemas/FixtureStatusShort" },
          "status_long": { "type": "string" },
          "elapsed": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "home_team_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "home_team_name": { "type": "string" },
          "away_team_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "away_team_name": { "type": "string" },
          "goals_home": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "goals_away": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "score": { "type": "object" },
          "updated_at_utc": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }
        },
        "additionalProperties": true
      },
      "ReadFixturesEnvelope": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/ReadFixture" } },
          "paging": { "$ref": "#/components/schemas/Paging" }
        },
        "required": ["ok", "items"],
        "additionalProperties": true
      },
      "ReadFixtureItemEnvelope": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "item": { "$ref": "#/components/schemas/ReadFixture" }
        },
        "required": ["ok", "item"],
        "additionalProperties": true
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "fixture_id": { "type": "integer" },
          "time_elapsed": { "type": "integer" },
          "time_extra": { "type": "integer" },
          "team_id": { "type": "integer" },
          "team": { "$ref": "#/components/schemas/TeamRef" },
          "player_id": { "type": "integer" },
          "player_name": { "type": "string" },
          "assist_id": { "type": "integer" },
          "assist_name": { "type": "string" },
          "type": { "$ref": "#/components/schemas/EventType" },
          "detail": { "$ref": "#/components/schemas/EventDetail" },
          "comments": { "type": "string" },
          "updated_at_utc": { "type": "string", "format": "date-time" }
        },
        "required": ["type"],
        "additionalProperties": true
      },
      "EventsEnvelope": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "fixture_id": { "type": "integer" },
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/Event" } }
        },
        "required": ["ok", "fixture_id", "items"],
        "additionalProperties": true
      },
      "LineupItem": {
        "type": "object",
        "properties": {
          "fixture_id": { "type": "integer" },
          "team_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "formation": { "type": "string" },
          "start_xi": { "type": "object" },
          "substitutes": { "type": "object" },
          "coach": { "type": "object" },
          "colors": { "type": "object" },
          "updated_at_utc": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }
        },
        "additionalProperties": true
      },
      "LineupsEnvelope": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "fixture_id": { "type": "integer" },
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/LineupItem" } }
        },
        "required": ["ok", "fixture_id", "items"],
        "additionalProperties": true
      },
      "FixtureStatisticKV": {
        "type": "object",
        "description": "One stat entry as stored in core.fixture_statistics.statistics (derived from /fixtures/statistics).",
        "properties": {
          "type": { "type": "string", "description": "API-Football stat label (e.g. 'Corner Kicks')." },
          "value": { "anyOf": [{ "type": "integer" }, { "type": "string" }, { "type": "null" }], "description": "May be int-ish or percentage-like strings." }
        },
        "required": ["type"],
        "additionalProperties": true
      },
      "StatisticItem": {
        "type": "object",
        "properties": {
          "fixture_id": { "type": "integer" },
          "team_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "statistics": { "type": "array", "items": { "$ref": "#/components/schemas/FixtureStatisticKV" } },
          "updated_at_utc": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }
        },
        "additionalProperties": true
      },
      "StatisticsEnvelope": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "fixture_id": { "type": "integer" },
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/StatisticItem" } }
        },
        "required": ["ok", "fixture_id", "items"],
        "additionalProperties": true
      },
      "PlayerItem": {
        "type": "object",
        "properties": {
          "fixture_id": { "type": "integer" },
          "team_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "player_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "player_name": { "type": "string" },
          "statistics": { "type": "object" },
          "updated_at_utc": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }
        },
        "additionalProperties": true
      },
      "PlayersEnvelope": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "fixture_id": { "type": "integer" },
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/PlayerItem" } }
        },
        "required": ["ok", "fixture_id", "items"],
        "additionalProperties": true
      },
      "StandingsItem": {
        "type": "object",
        "properties": {
          "league_id": { "type": "integer" },
          "season": { "type": "integer" },
          "team_id": { "type": "integer" },
          "team_name": { "type": "string" },
          "rank": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "points": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "goals_diff": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "goals_for": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "goals_against": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "form": { "type": "string" },
          "status": { "type": "string" },
          "description": { "type": "string" },
          "group": { "type": "string" },
          "updated_at_utc": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }
        },
        "additionalProperties": true
      },
      "StandingsResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "league_id": { "type": "integer" },
          "season": { "type": "integer" },
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/StandingsItem" } }
        },
        "required": ["ok", "items"],
        "additionalProperties": true
      },
      "TopScorerItem": {
        "type": "object",
        "properties": {
          "league_id": { "type": "integer" },
          "league_name": { "type": "string" },
          "season": { "type": "integer" },
          "player_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "rank": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "team_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "team_name": { "type": "string" },
          "goals": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "assists": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "raw": { "type": "object" },
          "updated_at_utc": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }
        },
        "additionalProperties": true
      },
      "TopScorersResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "league_id": { "type": "integer" },
          "season": { "type": "integer" },
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/TopScorerItem" } },
          "paging": { "$ref": "#/components/schemas/Paging" }
        },
        "required": ["ok", "items"],
        "additionalProperties": true
      },
      "TeamStatisticsItem": {
        "type": "object",
        "properties": {
          "league_id": { "type": "integer" },
          "league_name": { "type": "string" },
          "season": { "type": "integer" },
          "team_id": { "type": "integer" },
          "team_name": { "type": "string" },
          "form": { "type": "string" },
          "raw": { "type": "object" },
          "updated_at_utc": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }
        },
        "additionalProperties": true
      },
      "TeamStatisticsResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "league_id": { "type": "integer" },
          "season": { "type": "integer" },
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/TeamStatisticsItem" } },
          "paging": { "$ref": "#/components/schemas/Paging" }
        },
        "required": ["ok", "items"],
        "additionalProperties": true
      },
      "CoverageItem": {
        "type": "object",
        "properties": {
          "league_id": { "type": "integer" },
          "league_name": { "type": "string" },
          "season": { "type": "integer" },
          "endpoint": { "type": "string" },
          "expected_count": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "actual_count": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "count_coverage": { "anyOf": [{ "type": "number" }, { "type": "null" }] },
          "last_update_utc": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] },
          "lag_minutes": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "freshness_coverage": { "anyOf": [{ "type": "number" }, { "type": "null" }] },
          "raw_count": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "core_count": { "anyOf": [{ "type": "integer" }, { "type": "null" }] },
          "pipeline_coverage": { "anyOf": [{ "type": "number" }, { "type": "null" }] },
          "overall_coverage": { "anyOf": [{ "type": "number" }, { "type": "null" }] },
          "calculated_at_utc": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] },
          "flags": { "type": "object" }
        },
        "additionalProperties": true
      },
      "CoverageResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "filters": { "type": "object" },
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/CoverageItem" } },
          "paging": { "$ref": "#/components/schemas/Paging" }
        },
        "required": ["ok", "items"],
        "additionalProperties": true
      },
      "OpsSystemStatusResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" }
        },
        "required": ["ok"],
        "additionalProperties": true
      },
      "ScopePolicyDecision": {
        "type": "object",
        "properties": {
          "endpoint": { "type": "string" },
          "in_scope": { "type": "boolean" },
          "reason": { "type": "string" },
          "policy_version": { "type": "integer" }
        },
        "required": ["endpoint", "in_scope", "reason", "policy_version"],
        "additionalProperties": true
      },
      "OpsScopePolicyResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "ts_utc": { "type": "string", "format": "date-time" },
          "league_id": { "type": "integer" },
          "season": { "type": "integer" },
          "league_type": { "anyOf": [{ "type": "string" }, { "type": "null" }] },
          "decisions": { "type": "array", "items": { "$ref": "#/components/schemas/ScopePolicyDecision" } }
        },
        "required": ["ok", "ts_utc", "league_id", "season", "decisions"],
        "additionalProperties": true
      },
      "TeamMetricsResponse": {
        "type": "object",
        "description": "Aggregated per-team features computed from completed fixtures and core.fixture_statistics (includes corner_kicks average when available).",
        "properties": {
          "ok": { "type": "boolean" },
          "team_id": { "type": "integer" },
          "window": { "type": "object" },
          "results": { "type": "object" },
          "goals": { "type": "object" },
          "match_stats_avg": { "type": "object" },
          "match_stats_sum": { "type": "object", "description": "Totals across the window for common match stats (e.g. total corner_kicks). Null when not available." },
          "match_stats_count": { "type": "object", "description": "How many matches contributed to each stat in match_stats_avg/sum." },
          "fixtures_sample": { "type": "array", "items": { "type": "object" } }
        },
        "required": ["ok", "team_id", "window", "results", "goals", "match_stats_avg", "match_stats_sum", "match_stats_count", "fixtures_sample"],
        "additionalProperties": true
      }
    }
  },
  "security": [{ "basicAuth": [] }],
  "paths": {
    "/v1/health": {
      "get": {
        "summary": "Health check",
        "description": "Strict query params: only listed query parameters are accepted; unknown parameters return 400.",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Service health",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HealthResponse" } } }
          },
          "400": {
            "description": "Unknown or invalid query parameters (strict mode)",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } }
          }
        }
      }
    },
    "/v1/quota": {
      "get": {
        "summary": "Quota status",
        "description": "Strict query params: only listed query parameters are accepted; unknown parameters return 400.",
        "operationId": "getQuota",
        "responses": {
          "200": {
            "description": "Rate-limit information",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/QuotaResponse" } } }
          },
          "400": {
            "description": "Unknown or invalid query parameters (strict mode)",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } }
          },
          "403": {
            "description": "Forbidden (IP allowlist)",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } }
          }
        }
      }
    },
    "/v1/fixtures": {
      "get": {
        "summary": "List fixtures",
        "description": "Strict query params: only date, league_id, status, limit are accepted. Unknown query params return 400.",
        "operationId": "getFixtures",
        "parameters": [
          { "name": "date", "in": "query", "schema": { "type": "string", "format": "date" } },
          { "name": "league_id", "in": "query", "schema": { "type": "integer" } },
          { "name": "status", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "minimum": 1, "maximum": 200 } }
        ],
        "responses": {
          "200": {
            "description": "List of fixtures (array, no envelope)",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/V1FixturesArray" } } }
          },
          "400": {
            "description": "Unknown or invalid query parameters (strict mode)",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } }
          },
          "403": {
            "description": "Forbidden (IP allowlist)",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } }
          }
        }
      }
    },
    "/v1/teams/{team_id}/fixtures": {
      "get": {
        "summary": "List fixtures for a team across all competitions within a UTC date range",
        "description": "Strict query params: only from_date, to_date, status, limit are accepted. Unknown query params return 400.",
        "operationId": "getTeamFixtures",
        "parameters": [
          { "name": "team_id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "from_date", "in": "query", "required": true, "schema": { "type": "string", "format": "date" }, "description": "UTC start date (YYYY-MM-DD)" },
          { "name": "to_date", "in": "query", "required": true, "schema": { "type": "string", "format": "date" }, "description": "UTC end date (YYYY-MM-DD)" },
          { "name": "status", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Optional fixture status_short filter (e.g., FT, NS)" },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 200, "minimum": 1, "maximum": 500 } }
        ],
        "responses": {
          "200": {
            "description": "List of team fixtures (array, no envelope)",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/V1FixturesArray" } } }
          },
          "400": { "description": "Unknown or invalid query parameters / invalid date range (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        },
        "security": [{ "basicAuth": [] }]
      }
    },
    "/v1/teams/{team_id}/metrics": {
      "get": {
        "summary": "Team metrics / feature summary (includes corner_kicks average when available)",
        "description": "Strict query params: only last_n, as_of_date are accepted. Unknown query params return 400.",
        "operationId": "getTeamMetrics",
        "parameters": [
          { "name": "team_id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "last_n", "in": "query", "required": false, "schema": { "type": "integer", "default": 20, "minimum": 1, "maximum": 50 } },
          { "name": "as_of_date", "in": "query", "required": false, "schema": { "type": "string", "format": "date" }, "description": "Optional UTC cutoff date (YYYY-MM-DD), end-of-day inclusive." }
        ],
        "responses": {
          "200": { "description": "Team metrics payload", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TeamMetricsResponse" } } } },
          "400": { "description": "Unknown or invalid query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        },
        "security": [{ "basicAuth": [] }]
      }
    },
    "/v1/fixtures/{fixture_id}/details": {
      "get": {
        "summary": "Fixture details (merged snapshot + normalized fallbacks)",
        "description": "Strict query params: no query parameters are accepted. Unknown query params return 400.",
        "operationId": "getFixtureDetails",
        "parameters": [{ "name": "fixture_id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": {
          "200": { "description": "Fixture details payload", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/V1FixtureDetailsResponse" } } } },
          "400": { "description": "Unknown query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        },
        "security": [{ "basicAuth": [] }]
      }
    },
    "/v1/h2h": {
      "get": {
        "summary": "Head-to-head fixtures (simple list)",
        "description": "Strict query params: only home_team_id, away_team_id, limit are accepted. Unknown query params return 400.",
        "operationId": "getH2H",
        "parameters": [
          { "name": "home_team_id", "in": "query", "required": true, "schema": { "type": "integer" } },
          { "name": "away_team_id", "in": "query", "required": true, "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 5, "minimum": 1, "maximum": 50 } }
        ],
        "responses": {
          "200": { "description": "List of fixtures (array, no envelope)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/V1FixturesArray" } } } },
          "400": { "description": "Unknown or invalid query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        },
        "security": [{ "basicAuth": [] }]
      }
    },
    "/v1/standings/{league_id}/{season}": {
      "get": {
        "summary": "Standings table (v1 list)",
        "description": "Strict query params: no query parameters are accepted. Unknown query params return 400.",
        "operationId": "getStandingsV1",
        "parameters": [
          { "name": "league_id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "season", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Standings list (array, no envelope)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/V1StandingsArray" } } } },
          "400": { "description": "Unknown query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        },
        "security": [{ "basicAuth": [] }]
      }
    },
    "/v1/teams": {
      "get": {
        "summary": "List teams",
        "description": "Strict query params: only search, league_id, limit are accepted. Unknown query params return 400.",
        "operationId": "getTeams",
        "parameters": [
          { "name": "search", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "league_id", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 50, "minimum": 1, "maximum": 200 } }
        ],
        "responses": {
          "200": { "description": "Teams list (array, no envelope)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/V1TeamsArray" } } } },
          "400": { "description": "Unknown or invalid query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        },
        "security": [{ "basicAuth": [] }]
      }
    },
    "/v1/injuries": {
      "get": {
        "summary": "List injuries (v1 list)",
        "description": "Strict query params: only league_id, season, team_id, player_id, limit are accepted. Unknown query params return 400.",
        "operationId": "getInjuriesV1",
        "parameters": [
          { "name": "league_id", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "season", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "team_id", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "player_id", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 50, "minimum": 1, "maximum": 200 } }
        ],
        "responses": {
          "200": { "description": "Injuries list (array, no envelope)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/V1InjuriesArray" } } } },
          "400": { "description": "Unknown or invalid query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        },
        "security": [{ "basicAuth": [] }]
      }
    },
    "/v1/sse/system-status": {
      "get": {
        "summary": "SSE: system status stream",
        "description": "Strict query params: only interval_seconds is accepted. Unknown query params return 400.",
        "operationId": "sseSystemStatus",
        "parameters": [{ "name": "interval_seconds", "in": "query", "required": false, "schema": { "type": "integer", "default": 5, "minimum": 2, "maximum": 60 } }],
        "responses": {
          "200": { "description": "text/event-stream", "content": { "text/event-stream": { "schema": { "type": "string" } } } },
          "400": { "description": "Unknown or invalid query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        },
        "security": [{ "basicAuth": [] }]
      }
    },
    "/v1/sse/live-scores": {
      "get": {
        "summary": "SSE: live score updates stream",
        "description": "Strict query params: only interval_seconds, limit are accepted. Unknown query params return 400.",
        "operationId": "sseLiveScores",
        "parameters": [
          { "name": "interval_seconds", "in": "query", "required": false, "schema": { "type": "integer", "default": 3, "minimum": 2, "maximum": 30 } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 300, "minimum": 1, "maximum": 500 } }
        ],
        "responses": {
          "200": { "description": "text/event-stream", "content": { "text/event-stream": { "schema": { "type": "string" } } } },
          "400": { "description": "Unknown or invalid query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        },
        "security": [{ "basicAuth": [] }]
      }
    },
    "/ops": {
      "get": {
        "summary": "Ops dashboard (HTML)",
        "description": "Strict query params: no query parameters are accepted. Unknown query params return 400.",
        "operationId": "opsDashboardHtml",
        "responses": {
          "200": { "description": "text/html", "content": { "text/html": { "schema": { "type": "string" } } } },
          "400": { "description": "Unknown query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        },
        "security": [{ "basicAuth": [] }]
      }
    },
    "/read/leagues": {
      "get": {
        "summary": "List leagues",
        "description": "Strict query params: only country, season, limit, offset are accepted. Unknown query params return 400.",
        "operationId": "readLeagues",
        "parameters": [
          { "name": "country", "in": "query", "schema": { "type": "string" } },
          { "name": "season", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 200, "minimum": 1, "maximum": 500 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0, "minimum": 0 } }
        ],
        "responses": {
          "200": { "description": "Leagues list (envelope)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ReadLeaguesEnvelope" } } } },
          "400": { "description": "Unknown or invalid query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        }
      }
    },
    "/read/countries": {
      "get": {
        "summary": "List countries present in core.leagues",
        "description": "Strict query params: only season, q, limit, offset are accepted. Unknown query params return 400.",
        "operationId": "readCountries",
        "parameters": [
          { "name": "season", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "q", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 200, "minimum": 1, "maximum": 500 } },
          { "name": "offset", "in": "query", "required": false, "schema": { "type": "integer", "default": 0, "minimum": 0 } }
        ],
        "responses": {
          "200": { "description": "Countries list (ok + items + paging)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ReadCountriesEnvelope" } } } },
          "400": { "description": "Unknown or invalid query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        }
      }
    },
    "/read/fixtures": {
      "get": {
        "summary": "Get fixtures (curated)",
        "description": "Strict query params: only league_id, country, season, date_from, date_to, team_id, status, limit, offset are accepted. Unknown query params return 400.",
        "operationId": "readFixtures",
        "parameters": [
          { "name": "league_id", "in": "query", "schema": { "type": "integer" } },
          { "name": "country", "in": "query", "schema": { "type": "string" } },
          { "name": "season", "in": "query", "required": true, "schema": { "type": "integer" } },
          { "name": "date_from", "in": "query", "schema": { "type": "string", "format": "date" } },
          { "name": "date_to", "in": "query", "schema": { "type": "string", "format": "date" } },
          { "name": "team_id", "in": "query", "schema": { "type": "integer" } },
          { "name": "status", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 200, "minimum": 1, "maximum": 500 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0, "minimum": 0 } }
        ],
        "responses": {
          "200": { "description": "Curated fixtures (ok + items + paging)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ReadFixturesEnvelope" } } } },
          "400": { "description": "Unknown or invalid query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        }
      }
    },
    "/read/fixtures/{fixture_id}": {
      "get": {
        "summary": "Get curated fixture by id",
        "description": "Strict query params: no query parameters are accepted. Unknown query params return 400.",
        "operationId": "readFixtureById",
        "parameters": [{ "name": "fixture_id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": {
          "200": { "description": "Curated fixture (ok + item)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ReadFixtureItemEnvelope" } } } },
          "400": { "description": "Unknown query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "404": { "description": "Not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        }
      }
    },
    "/read/fixtures/{fixture_id}/events": {
      "get": {
        "summary": "Fixture events",
        "description": "Strict query params: only limit is accepted. Unknown query params return 400.",
        "operationId": "readFixtureEvents",
        "parameters": [
          { "name": "fixture_id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 5000, "minimum": 1, "maximum": 10000 } }
        ],
        "responses": {
          "200": { "description": "Events (ok + fixture_id + items)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EventsEnvelope" } } } },
          "400": { "description": "Unknown or invalid query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        }
      }
    },
    "/read/fixtures/{fixture_id}/lineups": {
      "get": {
        "summary": "Fixture lineups",
        "description": "Strict query params: no query parameters are accepted. Unknown query params return 400.",
        "operationId": "readFixtureLineups",
        "parameters": [{ "name": "fixture_id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": {
          "200": { "description": "Lineups (ok + fixture_id + items)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LineupsEnvelope" } } } },
          "400": { "description": "Unknown query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        }
      }
    },
    "/read/fixtures/{fixture_id}/statistics": {
      "get": {
        "summary": "Fixture statistics",
        "description": "Strict query params: no query parameters are accepted. Unknown query params return 400.",
        "operationId": "readFixtureStatistics",
        "parameters": [{ "name": "fixture_id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": {
          "200": { "description": "Statistics (ok + fixture_id + items)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StatisticsEnvelope" } } } },
          "400": { "description": "Unknown query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        }
      }
    },
    "/read/fixtures/{fixture_id}/players": {
      "get": {
        "summary": "Fixture players",
        "description": "Strict query params: only team_id, limit are accepted. Unknown query params return 400.",
        "operationId": "readFixturePlayers",
        "parameters": [
          { "name": "fixture_id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "team_id", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 5000, "minimum": 1, "maximum": 20000 } }
        ],
        "responses": {
          "200": { "description": "Players (ok + fixture_id + items)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PlayersEnvelope" } } } },
          "400": { "description": "Unknown or invalid query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        }
      }
    },
    "/read/standings": {
      "get": {
        "summary": "Get league standings",
        "description": "Strict query params: only league_id, season are accepted. Unknown query params return 400.",
        "operationId": "readStandings",
        "parameters": [
          { "name": "league_id", "in": "query", "required": true, "schema": { "type": "integer" } },
          { "name": "season", "in": "query", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Standings data", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StandingsResponse" } } } },
          "400": { "description": "Unknown or invalid query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        }
      }
    },
    "/read/injuries": {
      "get": {
        "summary": "Injuries (curated + paging)",
        "description": "Strict query params: only league_id, country, season, team_id, player_id, limit, offset are accepted. Unknown query params return 400.",
        "operationId": "readInjuries",
        "parameters": [
          { "name": "league_id", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "country", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "season", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "team_id", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "player_id", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 200, "minimum": 1, "maximum": 1000 } },
          { "name": "offset", "in": "query", "required": false, "schema": { "type": "integer", "default": 0, "minimum": 0 } }
        ],
        "responses": {
          "200": { "description": "Injuries (ok + items + paging)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ReadInjuriesEnvelope" } } } },
          "400": { "description": "Unknown or invalid query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        }
      }
    },
    "/read/top_scorers": {
      "get": {
        "summary": "Top scorers by league and season",
        "description": "Strict query params: only league_id, season, include_raw, limit, offset are accepted. Unknown query params return 400.",
        "operationId": "readTopScorers",
        "parameters": [
          { "name": "league_id", "in": "query", "required": true, "schema": { "type": "integer" } },
          { "name": "season", "in": "query", "required": true, "schema": { "type": "integer" } },
          { "name": "include_raw", "in": "query", "required": false, "schema": { "type": "boolean", "default": true } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 100, "minimum": 1, "maximum": 500 } },
          { "name": "offset", "in": "query", "required": false, "schema": { "type": "integer", "default": 0, "minimum": 0 } }
        ],
        "responses": {
          "200": { "description": "Top scorers data", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TopScorersResponse" } } } },
          "400": { "description": "Unknown or invalid query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        }
      }
    },
    "/read/team_statistics": {
      "get": {
        "summary": "Team statistics by league and season",
        "description": "Strict query params: only league_id, season, team_id, include_raw, limit, offset are accepted. Unknown query params return 400.",
        "operationId": "readTeamStatistics",
        "parameters": [
          { "name": "league_id", "in": "query", "required": true, "schema": { "type": "integer" } },
          { "name": "season", "in": "query", "required": true, "schema": { "type": "integer" } },
          { "name": "team_id", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "include_raw", "in": "query", "required": false, "schema": { "type": "boolean", "default": true } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 200, "minimum": 1, "maximum": 2000 } },
          { "name": "offset", "in": "query", "required": false, "schema": { "type": "integer", "default": 0, "minimum": 0 } }
        ],
        "responses": {
          "200": { "description": "Team statistics data", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TeamStatisticsResponse" } } } },
          "400": { "description": "Unknown or invalid query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        }
      }
    },
    "/read/coverage": {
      "get": {
        "summary": "Coverage and freshness report",
        "description": "Strict query params: only season, league_id, country, endpoint, limit, offset are accepted. Unknown query params return 400.",
        "operationId": "readCoverage",
        "parameters": [
          { "name": "season", "in": "query", "required": true, "schema": { "type": "integer" } },
          { "name": "league_id", "in": "query", "schema": { "type": "integer" } },
          { "name": "country", "in": "query", "schema": { "type": "string" } },
          { "name": "endpoint", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 500, "minimum": 1, "maximum": 2000 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0, "minimum": 0 } }
        ],
        "responses": {
          "200": { "description": "Coverage data", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CoverageResponse" } } } },
          "400": { "description": "Unknown or invalid query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        }
      }
    },
    "/read/h2h": {
      "get": {
        "summary": "Head-to-head fixtures + summary (curated)",
        "description": "Strict query params: only team1_id, team2_id, league_id, season, limit, offset, force_api are accepted. Unknown query params return 400.",
        "operationId": "readH2H",
        "parameters": [
          { "name": "team1_id", "in": "query", "required": true, "schema": { "type": "integer" } },
          { "name": "team2_id", "in": "query", "required": true, "schema": { "type": "integer" } },
          { "name": "league_id", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "season", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 20, "minimum": 1, "maximum": 200 } },
          { "name": "offset", "in": "query", "required": false, "schema": { "type": "integer", "default": 0, "minimum": 0 } },
          { "name": "force_api", "in": "query", "required": false, "schema": { "type": "boolean", "default": false }, "description": "If true, always fetch from API-Football instead of using DB cache" }
        ],
        "responses": {
          "200": { "description": "H2H (ok + summary + items)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ReadH2HResponse" } } } },
          "400": { "description": "Unknown or invalid query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        }
      }
    },
    "/ops/api/system_status": {
      "get": {
        "summary": "System status",
        "description": "Strict query params: no query parameters are accepted. Unknown query params return 400.",
        "operationId": "opsSystemStatus",
        "responses": {
          "200": { "description": "System status (ok + nested objects)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OpsSystemStatusResponse" } } } },
          "400": { "description": "Unknown query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        }
      }
    },
    "/ops/api/scope_policy": {
      "get": {
        "summary": "Explain scope policy decisions for a league (why an endpoint is out-of-scope)",
        "description": "Strict query params: only league_id, season are accepted. Unknown query params return 400.",
        "operationId": "opsScopePolicy",
        "parameters": [
          { "name": "league_id", "in": "query", "required": true, "schema": { "type": "integer" } },
          { "name": "season", "in": "query", "required": false, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Scope policy decisions (ok + decisions[])", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OpsScopePolicyResponse" } } } },
          "400": { "description": "Unknown or invalid query parameters (strict mode)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } },
          "403": { "description": "Forbidden (IP allowlist)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPExceptionDetailEnvelope" } } } }
        },
        "security": [{ "basicAuth": [] }]
      }
    }
  }
}


